<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="map.lat" [longitude]="map.lng" gestureHandling="greedy" (mapClick)="mapClicked($event)"  [maxZoom]="map.maxZoom" [minZoom]="map.minZoom" [zoom]="map.zoom" >
 
  <agm-marker *ngFor="let marker of markers" [latitude]=marker.lat [longitude]=marker.lng iconUrl="/assets/imgs/marker_70x.png" [id]="marker.id" (markerClick)="getId(marker.id)"></agm-marker>
  <agm-marker *ngIf="markertemp.active" [latitude]=markertemp.lat [longitude]=markertemp.lng draggable=true iconUrl="/assets/imgs/newmarker_70x.png"></agm-marker>

</agm-map>

  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red" (click)="addGraffite()" >
      <i class="material-icons">add</i>
    </a>
  </div>
<app-adicionargraffite *ngIf="adicionar"  (emitter)="closeAdd($event)"></app-adicionargraffite>