
  <nav class="light-blue lighten-4">
    <div class="nav-wrapper">
      <a class="brand-logo center"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a [routerLink]="['/login']" >Login</a></li>
        <li><a [routerLink]="['/login']" >Graffites</a></li>
      </ul>
    </div>
  </nav>

    <router-outlet></router-outlet>  
