        
<div class="adicionar" >
      <div class="card ">
        <div class="card-image">
        	<img src="https://www.miltonmenezes.com.br/wp-content/themes/milton-blog/assets/imgs/default.jpg"  id="default" alt="">
        	<input name="graffite" size="chars" type="file" class="btn-graffite" (change)="fileChange($event)"  #imggraffite>
        	<a class="btn-floating halfway-fab waves-effect waves-light red" (click)="imggraffite.click()"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
       	<div class="input-field">
          <input  type="text" class="validate" (blur)="setNome(nome.value)" #nome>
          <label for="last_name">Nome do Graffite</label>
        </div>
       	<div class="input-field ">
          <input  type="text" class="validate" (blur)="setAutor(autor.value)" #autor>
          <label for="last_nae">Autor</label>
            </div>
	    <p>
	    <label for="test1">Local</label>
	      <input name="local" type="radio" value="publico" (change)="setLocal('publico')" id="test1" />
	      <label for="test1">Público</label>
	      <input name="local" type="radio" value="publico" (change)="setLocal('privado')" id="test2"/>
	      <label for="test2">Privado</label>
	    </p> 
	        
        </div>
        <div class="card-action">
              <a (click)="salvar()">Salvar</a>
              <a (click)="fecharCard()">Cancelar</a>
            </div>
      </div>
</div>
