agm-map {
  height: 100vh;
  width: 100%;
}
.adicionar{
    position: absolute;
    top: 120px;
    right: 50px;
    width: 400px;

}

.btn-graffite{
	display: block;
	visibility: hidden;
    width: 0;
	height: 0;
}